.catalog {
  &__wrapper {
    display: grid;
    grid-template-areas:
      "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
      "filter couch couch couch";
      grid-template-columns: 296px;
      gap: 32px;
      margin-bottom: 68px;
  }
  &__title {
    @include p-reset;
    grid-area: title;
    margin-bottom: 24px;
    width: max-content;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #333333;
  }
  &__tags {
    @include list-reset;
    grid-area: tags;
  }
  &__btns {
    @include list-reset;
    grid-area: btns;
    justify-self: center;
  }
  &__cards {
    grid-area: cards;
  }
  &__filter-lg {
    display: none;
    grid-area: filter-lg;
  }
  &__wrap:last-child {
    grid-area: couch;
  }
  &__wrap--aside {
    grid-area: filter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__wrap--grid {
    display: grid;
    grid-template-areas:
    "title tags"
    "cards cards"
    "btns btns";
    align-items: baseline;
    justify-content: flex-start;
    grid-template-columns: 109px auto;
    grid-auto-rows: max-content;
  }
  @include lg-tablet {
    &__wrap--aside {
      display: none;
    }
    &__filter-lg {
      display: block;
    }
    &__wrapper {
      grid-template-areas:
        "breadcrumbs breadcrumbs breadcrumbs"
        "couch couch couch";
        grid-template-columns: auto;
    }
    &__wrap--grid {
      justify-content: normal;
      grid-template-areas:
      "title tags"
      "filter-lg filter-lg"
      "cards cards"
      "btns btns";
    }
  }
}
.catalog .header {
  padding-bottom: 21px;
}
.breadcrumbs {
  grid-area: breadcrumbs;
}
.tag {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  &__item {
    position: relative;
    display: block;
    padding: 5px 9px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 130%;
    color: #666666;
    &--category {
      background: #DAFFD1;
    }
    &--price {
      background: #FFF5D1;
    }
    &--sale {
      background: #EBD1FF;
    }
    &--color {
      background: #EAEAEA;
    }
    &.is-hide {
      display: none;
    }
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }
  &__close {
    @include btn-reset;
    width: 13px;
    height: 13px;
    &::after{
      content: "";
      position: absolute;
      top: 39%;
      right: 6%;
      width: 13px;
      height: 13px;
      background: url("../img/sprite.svg#close") no-repeat;
    }
  }
}
.btns {
  display: flex;
  &__item {
    padding: 6px 9px;
    border: 2px solid #A65CF0;
    border-radius: 10px;
    cursor: pointer;
  }
  &__item:not(:last-child) {
    margin-right: 16px;
  }
  &__btn {
    @include btn-reset;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #A65CF0;
  }
  &__item.is-active {
    border-color: transparent;
    background: #7033AC;
  }
  &__item.is-active .btns__btn {
    color: #FFFFFF;
  }
}
.promo {
  &--catalog {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 67px;
    padding: 30px;
    height: 100%;
    max-height: 360px;
    border-radius: 10px;
    background-position: top;
    background-size: 296px;
    background-color: #333333;
    background-image: url("../img/catalog/promo.png");
  }
  &__title--catalog {
    font-size: 24px;
    line-height: 32px;
  }
  &__subtitle--catalog {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
  }
  &__link {
    margin: 0;
  }
  @include lg-tablet {
    &--catalog {
      display: none;
    }
  }
}
.filter__label--catalog {
  padding-left: 32px;
  font-size: 16px;
  line-height: 130%;
}
.filter__label--catalog.custom-checkbox__content::before {
  top: 0;
  width: 20px;
  height: 20px;
}
.filter__label--catalog.custom-checkbox__content::after {
  width: 20px;
  height: 20px;
  background-size: 19px 12px;
}

