.catalog {
  &__wrapper {
    display: grid;
    grid-template-areas:
      "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
      "filter couch couch couch";
      grid-template-columns: 296px;
      gap: 32px;
      margin-bottom: 68px;
  }
  &__title {
    @include p-reset;
    grid-area: title;
    margin-bottom: 24px;
    width: max-content;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: $color-text;
  }
  &__tags {
    @include list-reset;
    grid-area: tags;
  }
  &__btns {
    @include list-reset;
    grid-area: btns;
    justify-self: center;
  }
  &__cards {
    grid-area: cards;
  }
  &__filter-lg {
    display: none;
    grid-area: filter-lg;
  }
  &__wrap:last-child {
    grid-area: couch;
  }
  &__wrap--aside {
    grid-area: filter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__wrap--grid {
    display: grid;
    grid-template-areas:
    "title tags"
    "cards cards"
    "btns btns";
    align-items: baseline;
    justify-content: flex-start;
    grid-template-columns: 109px auto;
    grid-auto-rows: max-content;
  }
  @include lg-tablet {
    &__wrap--aside {
      display: none;
    }
    &__filter-lg {
      display: block;
    }
    &__wrapper {
      grid-template-areas:
        "breadcrumbs breadcrumbs breadcrumbs"
        "couch couch couch";
        grid-template-columns: auto;
    }
    &__wrap--grid {
      justify-content: normal;
      grid-template-areas:
      "title tags"
      "filter-lg filter-lg"
      "cards cards"
      "btns btns";
    }
    &__title {
      margin-bottom: 13px;
    }
  }
  @include sm-tablet {
    &__title {
      margin-bottom: 27px;
    }
    &__filter-lg {
      margin-bottom: 16px;
    }
  }
  @include mobile {
    &__wrapper {
      grid-template-areas:
        "couch couch";
        grid-template-columns: auto;
    }
    &__wrap--grid {
      justify-content: normal;
      grid-template-areas:
      "title title"
      "tags tags"
      "filter-lg filter-lg"
      "cards cards"
      "btns btns";
    }
    &__title {
      margin-bottom: 8px;
    }
  }
}
.catalog .header {
  padding-bottom: 21px;
  @include sm-tablet {
    padding-bottom: 23px;
  }
  @include mobile {
    padding-bottom: 17px;
  }
}
.breadcrumbs {
  grid-area: breadcrumbs;
  @include mobile {
    display: none;
  }
}
.tag {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: baseline;
  &__item {
    position: relative;
    display: block;
    padding: 5px 9px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 130%;
    color: $grey-shade;
    &--category {
      background: $lime-color;
    }
    &--price {
      background: $bone;
    }
    &--sale {
      background: $pink-violet;
    }
    &--color {
      background: $md-grey;
    }
    &.is-hide {
      display: none;
    }
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }
  &__close {
    @include btn-reset;
    width: 13px;
    height: 13px;
    &::after{
      content: "";
      position: absolute;
      top: 39%;
      right: 6%;
      width: 13px;
      height: 13px;
      background: url("../img/sprite.svg#close") no-repeat;
    }
    &::before{
      content: "";
      position: absolute;
      top: 32%;
      right: 6%;
      width: 13px;
      height: 13px;
      border-bottom: 1px solid transparent;
    }
  }
  @include mobile {
    &__item {
      margin-bottom: 16px;
    }
  }
}
.btns {
  display: flex;
  &__item {
    padding: 6px 9px;
    border: 2px solid $color-text-primary;
    border-radius: 10px;
    cursor: pointer;
  }
  &__item:not(:last-child) {
    margin-right: 16px;
  }
  &__item:nth-child(n + 3) {
    display: none;
  }
  &__btn {
    @include btn-reset;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $color-text-primary;
  }
  &__item.is-active {
    border-color: transparent;
    background: $primary-shade;
  }
  &__item.is-active .btns__btn {
    color: $white;
  }
  @include sm-tablet {
    &__item:nth-child(n + 3) {
      display: block;
    }
  }
}
.promo {
  &--catalog {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 67px;
    padding: 30px;
    height: 100%;
    min-height: 360px;
    max-height: 360px;
    border-radius: 10px;
    background-position: top;
    background-size: 296px;
    background-color: $color-text;
    background-image: url("../img/catalog/promo.png");
  }
  &__title--catalog {
    font-size: 24px;
    line-height: 32px;
  }
  &__subtitle--catalog {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 22px;
    color: $grey;
  }
  &__link {
    margin: 0;
  }
  @include lg-tablet {
    &--catalog {
      display: none;
    }
  }
}
.filter__label--catalog {
  padding-left: 32px;
  font-size: 16px;
  line-height: 130%;
  & .filter__label-short {
    display: none;
  }
  @include mobile {
    display: block;
    padding-left: 25px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    & .filter__label-short {
      display: inline;
    }
    & .filter__label-long {
      display: none;
    }
  }
}
.filter__label--catalog.custom-checkbox__content::before {
  top: 0;
  width: 20px;
  height: 20px;
}
.filter__label--catalog.custom-checkbox__content::after {
  width: 20px;
  height: 20px;
  background-size: 19px 12px;
}
.tag__close:focus::before {
  border: 1px solid $color-text-primary;
}
.tag__close:focus {
  outline: none;
}
