.useful-section {
  margin-bottom: 70px;
  @include lg-tablet {
    margin-bottom: 72px;
  }
  @include mobile {
    margin-bottom: 103px;
  }
}
.useful {
  &__item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: $grey-light;
    background-repeat: no-repeat;
  }
  &__pic {
    margin: -30px;
    margin-bottom: 25px;
  }
  &__text {
    @include p-reset;
    margin-bottom: 38px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: $color-text;
  }
  @include tablet {
    &__text {
      margin-bottom: 29px;
      font-size: 16px;
      line-height: 22px;
    }
  }
  @include mobile {
    &__text {
      margin-bottom: 30px;
    }
  }
}
