@mixin custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 22px;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      border: 1px solid #999999;
      border-radius: 2px;
      width: 14px;
      height: 14px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      box-sizing: border-box;
      background-image: url("../img/sprite.svg#check");
      background-position: center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
  @include lg-mobile {
    &__content {
      padding-left: 20px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:checked + .custom-checkbox__content::before {
  background: #A65CF0;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #A65CF0;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
