<h2 class="catalog__title">Каталог</h2>
<ul class="catalog__tags tag">
  <li class="tag__item tag__item--category">
    <span>Диваны</span>
    <button class="tag__close"></button>
  </li>
  <li class="tag__item tag__item--price">
    <span>До 150 000</span>
    <button class="tag__close"></button>
  </li>
  <li class="tag__item tag__item--sale">
    <span>Без скидки</span>
    <button class="tag__close"></button>
  </li>
  <li class="tag__item tag__item--color">
    <span>Оранжевый</span>
    <button class="tag__close"></button>
  </li>
</ul>
<div class="catalog__cards card">
  <ul class="card__list card__list--catalog"></ul>
</div>
<ul class="catalog__btns btns">
  <li class="btns__item is-active">
    <button class="btns__btn">1</button>
  </li>
  <li class="btns__item">
    <button class="btns__btn">2</button>
  </li>
  <li class="btns__item">
    <button class="btns__btn">3</button>
  </li>
</ul>
