<aside class="filter">
    <h3 class="filter__title">Фильтровать по:</h3>
    <h4 class="filter__subtitle">Категория</h4>
    <div class="filter__wrap">
      <label for="check-1" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-1" value="Диваны">
        <span class="filter__label custom-checkbox__content">Диваны</span>
      </label>
      <label for="check-2" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-2" value="Кресла">
        <span class="filter__label custom-checkbox__content">Кресла</span>
      </label>
      <label for="check-3" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-3" value="Пуфы">
        <span class="filter__label custom-checkbox__content">Пуфы</span>
      </label>
      <label for="check-4" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-4" value="Кровати">
        <span class="filter__label custom-checkbox__content">Кровати</span>
      </label>
      <label for="check-5" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-5" value="Тумбы">
        <span class="filter__label custom-checkbox__content">Тумбы</span>
      </label>
      <label for="check-6" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-6" value="Комоды">
        <span class="filter__label custom-checkbox__content">Комоды</span>
      </label>
      <label for="check-7" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-7" value="Стулья">
        <span class="filter__label custom-checkbox__content">Стулья</span>
      </label>
      <label for="check-8" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-8" value="Столы">
        <span class="filter__label custom-checkbox__content">Столы</span>
      </label>
      <label for="check-9" class="custom-checkbox filter__checkbox filter__checkbox--category">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-9" value="Аксессуары">
        <span class="filter__label custom-checkbox__content">Аксессуары</span>
      </label>
      <a href="#" class="filter__more">+ ещё 12</a>
    </div>
    <h4 class="filter__subtitle">Цена</h4>
    <div class="filter__wrap">
      <div class="filter__input input">
        <div class="input__wrap">
          <span class="input__text">от</span>
          <input type="number" class="input__price input__price--min" placeholder="2000">
        </div>
        <div class="input__wrap">
          <span class="input__text">до</span>
          <input type="number" class="input__price input__price--max" placeholder="150 000">
        </div>
      </div>
      <div id="slider-range"></div>
    </div>
    <h4 class="filter__subtitle">Скидка</h4>
    <div class="filter__wrap">
      <label for="check-10" class="custom-checkbox filter__checkbox filter__checkbox--sale">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-10" value="Более 5 000">
        <span class="filter__label custom-checkbox__content">Более 5 000</span>
      </label>
      <label for="check-11" class="custom-checkbox filter__checkbox filter__checkbox--sale">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-11" value="Менее 5 000">
        <span class="filter__label custom-checkbox__content">Менее 5 000</span>
      </label>
      <label for="check-12" class="custom-checkbox filter__checkbox filter__checkbox--sale">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-12" value="Без скидки">
        <span class="filter__label custom-checkbox__content filter__checkbox">Не важно</span>
      </label>
    </div>
    <h4 class="filter__subtitle">Цвет</h4>
    <div class="filter__wrap">
      <label for="check-13" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-13" value="Коричневый">
        <span class="filter__label custom-checkbox__content">Коричневый</span>
      </label>
      <label for="check-14" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-14" value="Черный">
        <span class="filter__label custom-checkbox__content">Черный</span>
      </label>
      <label for="check-15" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-15" value="Бежевый">
        <span class="filter__label custom-checkbox__content">Бежевый</span>
      </label>
      <label for="check-16" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-16" value="Серый">
        <span class="filter__label custom-checkbox__content">Серый</span>
      </label>
      <label for="check-17" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-17" value="Белый">
        <span class="filter__label custom-checkbox__content">Белый</span>
      </label>
      <label for="check-18" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-18" value="Синий">
        <span class="filter__label custom-checkbox__content">Синий</span>
      </label>
      <label for="check-19" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-19" value="Оранжевый">
        <span class="filter__label custom-checkbox__content">Оранжевый</span>
      </label>
      <label for="check-20" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-20" value="Желтый">
        <span class="filter__label custom-checkbox__content">Желтый</span>
      </label>
      <label for="check-21" class="custom-checkbox filter__checkbox filter__checkbox--color">
        <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-21" value="Зеленый">
        <span class="filter__label custom-checkbox__content">Зеленый</span>
      </label>
      <a href="#" class="filter__more">+ ещё 7</a>
    </div>
</aside>
