<div class="filter filter--add">
    <h3 class="filter__title">Фильтры:</h3>
    <div class="filter__block">
      <div class="filter__wrapper">
        <button class="btn filter__subtitle" data-filter="category">Категория</button>
        <div class="filter__wrap" data-open="category">
          <label for="check-22" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-22" value="Диваны" checked>
            <span class="filter__label custom-checkbox__content filter__label--catalog">Диваны</span>
          </label>
          <label for="check-23" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-23" value="Кресла">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Кресла</span>
          </label>
          <label for="check-24" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-24" value="Пуфы">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Пуфы</span>
          </label>
          <label for="check-25" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-25" value="Кровати">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Кровати</span>
          </label>
          <label for="check-26" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-26" value="Тумбы">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Тумбы</span>
          </label>
          <label for="check-27" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-27" value="Комоды">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Комоды</span>
          </label>
          <label for="check-28" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-28" value="Стулья">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Стулья</span>
          </label>
          <label for="check-29" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-29" value="Столы">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Столы</span>
          </label>
          <label for="check-30" class="custom-checkbox filter__checkbox filter__checkbox--category">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-30" value="Аксессуары">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Аксессуары</span>
          </label>
          <a href="#" class="filter__more">+ ещё 12</a>
        </div>
      </div>
      <div class="filter__wrapper">
        <button class="btn filter__subtitle filter__subtitle--price" data-filter="price">Цена</button>
        <div class="filter__wrap filter__wrap--price" data-open="price">
          <div class="filter__input input">
            <div class="input__wrap">
              <span class="input__text">от</span>
              <input type="number" class="input__price input__price--min" placeholder="2000">
            </div>
            <div class="input__wrap">
              <span class="input__text">до</span>
              <input type="number" class="input__price input__price--max" placeholder="150 000" value="150000">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter__block">
      <div class="filter__wrapper">
        <button class="btn filter__subtitle" data-filter="sale">Скидка</button>
        <div class="filter__wrap filter__wrap--sale" data-open="sale">
          <label for="check-31" class="custom-checkbox filter__checkbox filter__checkbox--sale">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-31" value="Более 5 000">
            <span class="filter__label custom-checkbox__content filter__label--catalog"><span class="filter__label--long-price">Более</span><span class="filter__label--short-price">></span> 5 000</span>
          </label>
          <label for="check-32" class="custom-checkbox filter__checkbox filter__checkbox--sale">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-32" value="Менее 5 000">
            <span class="filter__label custom-checkbox__content filter__label--catalog"><span class="filter__label--long-price">Менее</span><span class="filter__label--short-price"><</span> 5 000</span>
          </label>
          <label for="check-33" class="custom-checkbox filter__checkbox filter__checkbox--sale">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-33" value="Без скидки" checked>
            <span class="filter__label custom-checkbox__content filter__checkbox filter__label--catalog">Не важно</span>
          </label>
        </div>
      </div>
      <div class="filter__wrapper">
        <button class="btn filter__subtitle" data-filter="color">Цвет</button>
        <div class="filter__wrap" data-open="color">
          <label for="check-34" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-34" value="Коричневый">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Коричневый</span>
          </label>
          <label for="check-35" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-35" value="Черный">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Черный</span>
          </label>
          <label for="check-36" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-36" value="Бежевый">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Бежевый</span>
          </label>
          <label for="check-37" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-37" value="Серый">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Серый</span>
          </label>
          <label for="check-38" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-38" value="Белый">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Белый</span>
          </label>
          <label for="check-39" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-39" value="Синий">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Синий</span>
          </label>
          <label for="check-40" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-40" value="Оранжевый">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Оранжевый</span>
          </label>
          <label for="check-41" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-41" value="Желтый">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Желтый</span>
          </label>
          <label for="check-42" class="custom-checkbox filter__checkbox filter__checkbox--color">
            <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-42" value="Зеленый">
            <span class="filter__label custom-checkbox__content filter__label--catalog">Зеленый</span>
          </label>
          <a href="#" class="filter__more">+ ещё 7</a>
        </div>
      </div>
    </div>
</div>
