<div class="filter">
    <h3 class="filter__title">Фильтры:</h3>
    <div class="filter__wrapper">
      <button class="btn filter__subtitle" data-filter="category">Категория</button>
      <div class="filter__wrap" data-open="category">
        <label for="check-1" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-1" value="Диваны" checked>
          <span class="filter__label custom-checkbox__content filter__label--catalog">Диваны</span>
        </label>
        <label for="check-2" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-2" value="Кресла">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Кресла</span>
        </label>
        <label for="check-3" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-3" value="Пуфы">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Пуфы</span>
        </label>
        <label for="check-4" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-4" value="Кровати">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Кровати</span>
        </label>
        <label for="check-5" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-5" value="Тумбы">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Тумбы</span>
        </label>
        <label for="check-6" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-6" value="Комоды">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Комоды</span>
        </label>
        <label for="check-7" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-7" value="Стулья">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Стулья</span>
        </label>
        <label for="check-8" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-8" value="Столы">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Столы</span>
        </label>
        <label for="check-9" class="custom-checkbox filter__checkbox filter__checkbox--category">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-9" value="Аксессуары">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Аксессуары</span>
        </label>
        <a href="#" class="filter__more">+ ещё 12</a>
      </div>
    </div>
    <div class="filter__wrapper">
      <button class="btn filter__subtitle filter__subtitle--price" data-filter="price">Цена</button>
      <div class="filter__wrap filter__wrap--price" data-open="price">
        <div class="filter__input input">
          <div class="input__wrap">
            <span class="input__text">от</span>
            <input type="number" class="input__price input__price--min" placeholder="2000">
          </div>
          <div class="input__wrap">
            <span class="input__text">до</span>
            <input type="number" class="input__price input__price--max" placeholder="150 000" value="150000">
          </div>
        </div>
        <div id="slider-range"></div>
      </div>
    </div>
    <div class="filter__wrapper">
      <button class="btn filter__subtitle" data-filter="sale">Скидка</button>
      <div class="filter__wrap filter__wrap--sale" data-open="sale">
        <label for="check-10" class="custom-checkbox filter__checkbox filter__checkbox--sale">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-10" value="Более 5 000">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Более 5 000</span>
        </label>
        <label for="check-11" class="custom-checkbox filter__checkbox filter__checkbox--sale">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-11" value="Менее 5 000">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Менее 5 000</span>
        </label>
        <label for="check-12" class="custom-checkbox filter__checkbox filter__checkbox--sale">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-12" value="Без скидки" checked>
          <span class="filter__label custom-checkbox__content filter__checkbox filter__label--catalog">Не важно</span>
        </label>
      </div>
    </div>
    <div class="filter__wrapper">
      <button class="btn filter__subtitle" data-filter="color">Цвет</button>
      <div class="filter__wrap" data-open="color">
        <label for="check-13" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-13" value="Коричневый">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Коричневый</span>
        </label>
        <label for="check-14" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-14" value="Черный">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Черный</span>
        </label>
        <label for="check-15" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-15" value="Бежевый">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Бежевый</span>
        </label>
        <label for="check-16" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-16" value="Серый">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Серый</span>
        </label>
        <label for="check-17" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-17" value="Белый">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Белый</span>
        </label>
        <label for="check-18" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-18" value="Синий">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Синий</span>
        </label>
        <label for="check-19" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-19" value="Оранжевый">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Оранжевый</span>
        </label>
        <label for="check-20" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-20" value="Желтый">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Желтый</span>
        </label>
        <label for="check-21" class="custom-checkbox filter__checkbox filter__checkbox--color">
          <input class="filter__check custom-checkbox__field" type="checkbox" name="check" id="check-21" value="Зеленый">
          <span class="filter__label custom-checkbox__content filter__label--catalog">Зеленый</span>
        </label>
        <a href="#" class="filter__more">+ ещё 7</a>
      </div>
    </div>
</div>
