<footer class="footer">
  <div class="container container--footer">
    <a href="#" class="footer__logo">
      <img src="img/header/logo.svg" alt="Логотип" class="footer__img" width="187" height="27">
    </a>
    <ul class="footer__social social">
      <li class="social__item">
        <a href="#" class="social__link" aria-label="Перейти в фейсбук">
          <svg class="social__icon" width="30" height="30"><use xlink:href="img/sprite.svg#fb"></use></svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" aria-label="Перейти в вк">
          <svg class="social__icon" width="30" height="30"><use xlink:href="img/sprite.svg#vk"></use></svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" aria-label="Перейти в инстаграм">
          <svg class="social__icon" width="30" height="30"><use xlink:href="img/sprite.svg#instagram"></use></svg>
        </a>
      </li>
    </ul>
    <nav class="footer__nav nav">
      <ul class="nav__list" aria-label="Меню о нас">
        <li class="nav__item" aria-hidden="true">О нас</li>
        <li class="nav__item">
          <a href="#" class="nav__link">О компании</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Блог</a>
        </li>
      </ul>
      <ul class="nav__list" aria-label="Меню услуги">
        <li class="nav__item" aria-hidden="true">Услуги</li>
        <li class="nav__item">
          <a href="#" class="nav__link">Доставка</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Рассрочка и кредит</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Сборка и установка</a>
        </li>
      </ul>
      <ul class="nav__list" aria-label="Меню связь с нами">
        <li class="nav__item" aria-hidden="true">Связь с нами</li>
        <li class="nav__item">
          <a href="#" class="nav__link">Обратная связь</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
      <ul class="nav__list" aria-label="Меню сотрудничество">
        <li class="nav__item" aria-hidden="true">Сотрудничество</li>
        <li class="nav__item">
          <a href="#" class="nav__link">Поставщикам</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Оптовикам</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Карьера</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
<div class="copyright">
  <span class="copyright__text">SDP®</span>
  <span class="copyright__text">2011-2021</span>
</div>
