<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__region">
        <span class="header__text">Ваш регион:</span>
        <select class="header__select">
          <option value="Москва" selected>Москва</option>
          <option value="Казань">Казань</option>
          <option value="Уфа">Уфа</option>
          <option value="Пермь">Пермь</option>
        </select>
      </div>
      <a href="tel:+74958854547" class="header__phone phone" aria-label="Позвонить по телефону">
        <svg class="phone__icon" width="22" height="22"><use xlink:href="img/sprite.svg#phone"></use></svg>
        +7 (495) 885-45-47</a>
      <nav class="header__submenu submenu">
        <ul class="submenu__list">
          <li class="submenu__item">
            <a href="#" class="submenu__link">О компании</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Гарантия и возврат</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Корпоративным клиентам</a>
          </li>
          <li class="submenu__item">
            <a href="#" class="submenu__link">Дизайн-решение</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="header__logo">
        <img src="img/header/logo.svg" alt="Логотип SitDownPls - интернет магазин" class="header__img" width="187" height="27">
      </a>
      <button class="header__burger burger">
        <span class="burger__line"></span>
      </button>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="catalog.html" class="menu__link">Каталог</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Магазины</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Шоу-рум</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Доставка и оплата</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Дисконт</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__forms">
        <form class="header__form">
          <svg class="header__icon" width="20" height="20"><use xlink:href="img/sprite.svg#search"></use></svg>
          <input type="text" class="header__search" placeholder="Я хочу купить..."  aria-label="Поле для поиска по сайту">
          <button class="header__btn-search" aria-label="Кнопка поиска">
            <svg class="header__arrow" width="32" height="32"><use xlink:href="img/sprite.svg#arrow"></use></svg>
          </button>
        </form>
        <select class="header__filter filter">
          <option value="Категория" selected>Категория</option>
          <option value="Диваны">Диваны</option>
          <option value="Кресла">Кресла</option>
          <option value="Пуфы">Пуфы</option>
          <option value="Кровати">Кровати</option>
          <option value="Тумбы">Тумбы</option>
          <option value="Комоды">Комоды</option>
          <option value="Стулья">Стулья</option>
          <option value="Столы">Столы</option>
          <option value="Аксессуары">Аксессуары</option>
        </select>
      </div>
      <div class="header__btn">
        <button class="header__login" aria-label="Войти в личный кабинет">
          <svg class="header__user" width="26" height="28"><use xlink:href="img/sprite.svg#user"></use></svg>
        </button>
        <button class="header__basket" aria-label="Открыть корзину">
          <svg class="header__bask" width="30" height="28"><use xlink:href="img/sprite.svg#basket"></use></svg>
        </button>
      </div>
    </div>
  </div>
</header>
