<section class="hero">
  <div class="swiper swiper--hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <h2 class="swiper__title swiper__title--hero">Скидка 15%<br>на первую покупку</h2>
          <button class="btn btn--primary btn--hero">Получить!</button>
          <picture class="swiper__pic">
            <source srcset="img/hero/1-768.png" media="(max-width: 992px)">
            <source srcset="img/hero/1-1024.png" media="(max-width: 1310px)">
            <img class="swiper__img" src="img/hero/1-1920.png" alt="" loading="lazy" width="1920" height="400">
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="container">
          <h2 class="swiper__title swiper__title--hero">1000+ аксессуаров<br>для дома</h2>
          <button class="btn btn--primary btn--hero">Получить!</button>
          <picture class="swiper__pic">
            <source srcset="img/hero/2-768.png" media="(max-width: 992px)">
            <source srcset="img/hero/2-1024.png" media="(max-width: 1310px)">
            <img class="swiper__img" src="img/hero/2-1920.png" alt="" loading="lazy" width="1920" height="400">
          </picture>
        </div>
      </div>
      <div class="swiper-slide swiper-slide--three">
        <div class="container">
          <h2 class="swiper__title swiper__title--hero swiper__title--three">Коллекция стильного<br>и яркого текстиля</h2>
          <button class="btn btn--primary btn--hero">Получить!</button>
          <picture class="swiper__pic swiper__pic--three">
            <source srcset="img/hero/3-768.png" media="(max-width: 992px)">
            <source srcset="img/hero/3-1024.png" media="(max-width: 1310px)">
            <img class="swiper__img" src="img/hero/3-1920.png" alt="" loading="lazy" width="1920" height="400">
          </picture>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination--hero"></div>
    </div>
  </div>
</section>

