<section class="hero">
  <div class="swiper swiper--hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide--hero swiper-slide--one">
        <div class="container">
          <h2 class="swiper__title swiper__title--hero">Скидка 15%<br>на первую покупку</h2>
          <button class="btn btn--primary btn--hero" aria-label="Получить скидку 15% на первую покупку">Получить!</button>
        </div>
      </div>
      <div class="swiper-slide swiper-slide--hero swiper-slide--two">
        <div class="container">
          <h2 class="swiper__title swiper__title--hero">1000+ аксессуаров<br>для дома</h2>
          <button class="btn btn--primary btn--hero" aria-label="1000+ аксессуаров для дома">Получить!</button>
        </div>
      </div>
      <div class="swiper-slide swiper-slide--hero swiper-slide--three">
        <div class="container">
          <h2 class="swiper__title swiper__title--hero swiper__title--three">Коллекция стильного<br>и яркого текстиля</h2>
          <button class="btn btn--primary btn--hero" aria-label="Коллекция стильного и яркого текстиля">Получить!</button>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination--hero"></div>
    </div>
  </div>
</section>

