<section class="section rating">
  <div class="container container--rating">
    <h2 class="section__title section__title--rating">Высокий рейтинг</h2>
    <div class="rating__cards card">
      <ul class="card__list card__list--rating">
        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">5,0</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/1.png" alt="Черный диваан" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван кожаный “R-94”</h3>
            <div class="card__price-wrap">
              <span class="card__price">94 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,9</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/2.png" alt="Коричневый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван апартековый “T-75”</h3>
            <div class="card__price-wrap">
              <span class="card__price">69 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,8</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/3.png" alt="Синий диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван тканевый “D-31”</h3>
            <div class="card__price-wrap">
              <span class="card__price">28 490 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,8</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/4.png" alt="Оранжевый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван велюровый “Y-68”</h3>
            <div class="card__price-wrap">
              <span class="card__price">22 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,8</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/5.png" alt="Желтый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван из шинила “W-95”</h3>
            <div class="card__price-wrap">
              <span class="card__price">22 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,8</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/6.png" alt="Бежевый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван флоковый “G-41”</h3>
            <div class="card__price-wrap">
              <span class="card__price">17 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,8</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/7.png" alt="Серый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван шиниловый “V-43”</h3>
            <div class="card__price-wrap">
              <span class="card__price">19 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,7</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/8.png" alt="Серый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван велюровый “S-99”</h3>
            <div class="card__price-wrap">
              <span class="card__price">19 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,7</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/9.png" alt="Зеленый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван из кожзама “F-85”</h3>
            <div class="card__price-wrap">
              <span class="card__price">26 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,6</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/10.png" alt="Серый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван флоковый “H-64”</h3>
            <div class="card__price-wrap">
              <span class="card__price">25 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,6</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/11.png" alt="Синий диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван флоковый “H-58”</h3>
            <div class="card__price-wrap">
              <span class="card__price">23 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

        <li>
          <article class="card__item card__item--rating">
            <span class="card__label card__rating">4,6</span>
            <picture class="card__pic card__pic--rating">
              <img class="card__img" src="img/rating/12.png" alt="Коричневый диван" loading="lazy" width="193" height="210">
            </picture>
            <h3 class="card__title">Диван из кожзама “R-43”</h3>
            <div class="card__price-wrap">
              <span class="card__price">33 990 руб</span>
            </div>
            <button class="btn btn--card">Купить</button>
          </article>
        </li>

      </ul>
    </div>
    <button class="btn btn--primary btn--rating">Смотреть больше товаров</button>
  </div>
</section>
