<section class="section special">
  <div class="container container--special">
    <h2 class="section__title section__title--special">Специальные предложения</h2>
    <div class="swiper-btn">
      <div class="swiper-button-next swiper-button-next--special">
        <svg class="swiper-btn__arrow" width="32" height="32" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" cx="16" cy="16" r="15"/>
          <path class="path" d="M14 11L19 16L14 21" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="swiper-button-prev swiper-button-prev--special">
        <svg class="swiper-btn__arrow" width="32" height="32" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" cx="16" cy="16" r="15"/>
          <path class="path" d="M14 11L19 16L14 21" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div class="swiper swiper--special card">
      <div class="swiper-wrapper card__list">
        <article class="swiper-slide card__item">
          <span class="card__label card__sale">- 9 000</span>
          <picture class="card__pic">
            <img class="card__img" src="img/special/1-1920.png" alt="Желтое кресло" loading="lazy" width="193" height="210">
          </picture>
          <h3 class="card__title">
            <a href="#" class="card__link">Кресло велюровое “X-24”</a>
          </h3>
          <div class="card__price-wrap">
            <span class="card__price-sale">15 990 руб</span>
            <span class="card__price card__price--old">24&nbsp;990&nbsp;руб</span>
          </div>
          <button class="btn btn--card">Купить</button>
        </article>
        <article class="swiper-slide card__item card__item--big">
          <span class="card__label card__sale">- 10 000</span>
          <picture class="card__pic card__pic--big">
            <img class="card__img" src="img/special/2-1920.png" alt="Белый диван с двумя большими подушками" loading="lazy" width="450" height="245">
          </picture>
          <h3 class="card__title">
            <a href="#" class="card__link">Диван тканевый “Z-44”</a>
          </h3>
          <div class="card__price-wrap">
            <span class="card__price-sale">22 990 руб</span>
            <span class="card__price card__price--old">32&nbsp;990&nbsp;руб</span>
          </div>
          <button class="btn btn--card">Купить</button>
        </article>
        <article class="swiper-slide card__item">
          <span class="card__label card__sale">- 600</span>
          <picture class="card__pic">
            <img class="card__img" src="img/special/3-1920.png" alt="Темно желтые часы с черным циферблатом" loading="lazy" width="149" height="218">
          </picture>
          <h3 class="card__title">
            <a href="#" class="card__link">Будильник  “Quartz&#8209;23”</a>
          </h3>
          <div class="card__price-wrap">
            <span class="card__price-sale">1 290 руб</span>
            <span class="card__price card__price--old">1&nbsp;890&nbsp;руб</span>
          </div>
          <button class="btn btn--card">Купить</button>
        </article>
        <article class="swiper-slide card__item">
          <span class="card__label card__sale">- 300</span>
          <picture class="card__pic">
            <img class="card__img" src="img/special/4-1920.png" alt="Черная голова оленя" loading="lazy" width="117" height="210">
          </picture>
          <h3 class="card__title">
            <a href="#" class="card__link">Мини-скульптура “Oh my deer”</a>
          </h3>
          <div class="card__price-wrap">
            <span class="card__price-sale">690 руб</span>
            <span class="card__price card__price--old">990&nbsp;руб</span>
          </div>
          <button class="btn btn--card">Купить</button>
        </article>
        <article class="swiper-slide card__item card__item--big">
          <span class="card__label card__sale">- 10 000</span>
          <picture class="card__pic card__pic--big">
            <img class="card__img" src="img/special/5-1920.png" alt="Темно серый диван с 4 подушками" loading="lazy" width="463" height="223">
          </picture>
          <h3 class="card__title">
            <a href="#" class="card__link">Диван вел-флок “Z&#8209;85”</a>
          </h3>
          <div class="card__price-wrap">
            <span class="card__price-sale">22 990 руб</span>
            <span class="card__price card__price--old">32&nbsp;990&nbsp;руб</span>
          </div>
          <button class="btn btn--card">Купить</button>
        </article>
        <article class="swiper-slide card__item">
          <span class="card__label card__sale">- 700</span>
          <picture class="card__pic">
            <img class="card__img" src="img/special/6-1920.png" alt="Желтый термометр с белым циферблатом" loading="lazy" width="183" height="218">
          </picture>
          <h3 class="card__title">
            <a href="#" class="card__link">Термометр + гидрометр “H-18”</a>
          </h3>
          <div class="card__price-wrap">
            <span class="card__price-sale">1 390 руб</span>
            <span class="card__price card__price--old">2&nbsp;090&nbsp;руб</span>
          </div>
          <button class="btn btn--card">Купить</button>
        </article>
      </div>
    </div>
  </div>
</section>
