<section class="section top">
  <div class="container">
    <h2 class="section__title section__title--top">Топ категории</h2>
    <ul class="top__list">
      <li class="top__item">
        <ul class="top__subcategories">
          <li class="top__subcategory"><a href="#" class="top__link">Прямые</a></li>
          <li class="top__subcategory"><a href="#" class="top__link">Угловые</a></li>
          <li class="top__subcategory"><a href="#" class="top__link">Модульные</a></li>
        </ul>
        <h3 class="top__category">
          <a href="#" class="top__link">Диваны
            <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <circle class="circle" cx="11" cy="11" r="10"/>
              <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </h3>
        <picture class="top__pic">
          <source srcset="img/top/1-320.png" media="(max-width: 470px)">
          <source srcset="img/top/1-1024.png" media="(max-width: 1270px)">
          <img class="top__img" src="img/top/1.png" alt="Белый диваан" loading="lazy" width="515" height="308">
        </picture>
        <a href="" class="top__link-catalog" aria-label="Перейти в каталог">
          В каталог
          <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle" cx="11" cy="11" r="10"/>
            <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </li>
      <li class="top__item">
        <ul class="top__subcategories">
          <li class="top__subcategory"><a href="#" class="top__link">Мягкие</a></li>
          <li class="top__subcategory"><a href="#" class="top__link">Кресла-кровати</a></li>
        </ul>
        <h3 class="top__category">
          <a href="#" class="top__link">Кресла
            <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <circle class="circle" cx="11" cy="11" r="10"/>
              <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </h3>
        <picture class="top__pic">
          <source srcset="img/top/2-320.png" media="(max-width: 470px)">
          <source srcset="img/top/2-1024.png" media="(max-width: 1270px)">
          <img class="top__img" src="img/top/2.png" alt="Белое и серое кресла" loading="lazy" width="515" height="308">
        </picture>
        <a href="" class="top__link-catalog" aria-label="Перейти в каталог">
          В каталог
          <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle" cx="11" cy="11" r="10"/>
            <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </li>
      <li class="top__item">
        <ul class="top__subcategories">
          <li class="top__subcategory"><a href="#" class="top__link">Односпальные</a></li>
          <li class="top__subcategory"><a href="#" class="top__link">Двуспальные</a></li>
        </ul>
        <h3 class="top__category">
          <a href="#" class="top__link">Кровати
            <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <circle class="circle" cx="11" cy="11" r="10"/>
              <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </h3>
        <picture class="top__pic">
          <source srcset="img/top/3-320.png" media="(max-width: 470px)">
          <source srcset="img/top/3-1024.png" media="(max-width: 1270px)">
          <img class="top__img" src="img/top/3.png" alt="Черная кровать с бело-серым постельным" loading="lazy" width="306" height="202">
        </picture>
        <a href="" class="top__link-catalog" aria-label="Перейти в каталог">
          В каталог
          <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle" cx="11" cy="11" r="10"/>
            <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </li>
      <li class="top__item">
        <ul class="top__subcategories">
          <li class="top__subcategory"><a href="#" class="top__link">Тумбы</a></li>
          <li class="top__subcategory"><a href="#" class="top__link">Комоды</a></li>
        </ul>
        <h3 class="top__category">
          <a href="#" class="top__link">Тумбы и&nbsp;комоды
            <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <circle class="circle" cx="11" cy="11" r="10"/>
              <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </h3>
        <picture class="top__pic">
          <source srcset="img/top/4-320.png" media="(max-width: 470px)">
          <source srcset="img/top/4-1024.png" media="(max-width: 1270px)">
          <img class="top__img" src="img/top/4.png" alt="Деревянный комод" loading="lazy" width="330" height="202">
        </picture>
        <a href="" class="top__link-catalog" aria-label="Перейти в каталог">
          В каталог
          <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle" cx="11" cy="11" r="10"/>
            <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </li>
      <li class="top__item">
        <ul class="top__subcategories">
          <li class="top__subcategory"><a href="#" class="top__link">Деревянные</a></li>
          <li class="top__subcategory"><a href="#" class="top__link">Металлокаркас</a></li>
        </ul>
        <h3 class="top__category">
          <a href="#" class="top__link">Стулья
            <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <circle class="circle" cx="11" cy="11" r="10"/>
              <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
        </h3>
        <picture class="top__pic">
          <source srcset="img/top/5-320.png" media="(max-width: 470px)">
          <source srcset="img/top/5-1024.png" media="(max-width: 1270px)">
          <img class="top__img" src="img/top/5.png" alt="2 деревянных стула, один из них с металлокаркасом" loading="lazy" width="258" height="202">
        </picture>
        <a href="" class="top__link-catalog" aria-label="Перейти в каталог">
          В каталог
          <svg class="top__icon" width="22" height="22" viewbox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle" cx="11" cy="11" r="10"/>
            <path class="path" d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
