<section class="section useful-section">
  <div class="container container--slider">
    <h2 class="section__title section__title--special">Полезное</h2>
    <div class="swiper-btn">
      <div class="swiper-button-next swiper-button-next--useful">
        <svg class="swiper-btn__arrow" width="32" height="32" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" cx="16" cy="16" r="15"/>
          <path class="path" d="M14 11L19 16L14 21" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="swiper-button-prev swiper-button-prev--useful">
        <svg class="swiper-btn__arrow" width="32" height="32" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" cx="16" cy="16" r="15"/>
          <path class="path" d="M14 11L19 16L14 21" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div class="swiper swiper--useful useful">
      <div class="swiper-wrapper useful__list">
        <article class="swiper-slide useful__item">
          <picture class="useful__pic">
            <img class="useful__img" src="img/useful/1.png" alt="Светлая комната" loading="lazy" width="624" height="426">
          </picture>
          <h3 class="useful__text">И нет сомнений, что сделанные на базе интернет&#8209;аналитики выводы представляют собой не что иное?</h3>
          <button class="btn btn--useful">Читать</button>
        </article>
        <article class="swiper-slide useful__item">
          <picture class="useful__pic">
            <img class="useful__img" src="img/useful/2.png" alt="Деревянный стол со стулом" loading="lazy" width="624" height="426">
          </picture>
          <h3 class="useful__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</h3>
          <button class="btn btn--useful">Читать</button>
        </article>
        <article class="swiper-slide useful__item">
          <picture class="useful__pic">
            <img class="useful__img" src="img/useful/3.png" alt="Цветок в белой вазе" loading="lazy" width="624" height="426">
          </picture>
          <h3 class="useful__text">Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?</h3>
          <button class="btn btn--useful">Читать</button>
        </article>
        <article class="swiper-slide useful__item">
          <picture class="useful__pic">
            <img class="useful__img" src="img/useful/4.png" alt="Белая кухня с черным столом" loading="lazy" width="624" height="426">
          </picture>
          <h3 class="useful__text">Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?</h3>
          <button class="btn btn--useful">Читать</button>
        </article>
        <article class="swiper-slide useful__item">
          <picture class="useful__pic">
            <img class="useful__img" src="img/useful/5.png" alt="Белый стол с цветком, рядом зеркало" loading="lazy" width="624" height="426">
          </picture>
          <h3 class="useful__text">Как принято считать, некоторые особенности приносят несомненную пользу обществу?</h3>
          <button class="btn btn--useful">Читать</button>
        </article>
      </div>
    </div>
  </div>
</section>
