html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  color: $color-text;
}
body.is-popup {
  overflow: hidden;
  position: relative;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  @include mobile {
    width: 100%;
    min-width: 320px;
  }
}
.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
  @include larg {
    padding: 0 36px;
  }
  @include sm-tablet {
    padding: 0 72px;
    &--promo {
      padding: 0 36px;
    }
  }
  @include lg-mobile {
    padding: 0 15px;
  }
  @include mobile {
    padding: 0 12px;
  }
  &--slider {
    display: grid;
    grid-gap: 26px;
    grid-template-areas:
    "title btn"
    "slider slider";
    @include sm-tablet {
      grid-template-areas:
      "title title title title title btn"
      "slider slider slider slider slider slider";
    }
    @include lg-mobile {
      grid-gap: 15px;
      grid-template-areas:
      "title"
      "slider"
      "btn";
    }
  }
  &--contacts {
    background: url("../img/contacts/bg-img.png") no-repeat;
    background-position: right 2% center;
    @include lg-tablet {
      background-image: url("../img/contacts/bg-img-1024.png");
      background-position: right 7% center;
    }
    @include sm-tablet {
      background-image: url("../img/contacts/bg-img-768.png");
      background-position: right 12% center;
      background-size: auto 94%;
    }
    @include lg-mobile {
      background: none;
    }
  }
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

