$color-text: #333333;
$color-text-primary: #A65CF0;
$color-text-secondary: #FF862F;
$grey-light: #F7F7F7;
$grey: #999999;
$white: #FFFFFF;
$bone: #FFF5D1;
$primary-light: #C998FB;
$pink-violet: #EBD1FF;
$md-grey: #EAEAEA;
$secondary-light: #FFBD59;
$primary-shade: #7033AC;
$pink-light: #F8EFFF;
$secondary-shade: #BB370E;
$grey-shade: #666666;
$gold: #D5B986;
