// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/special";
@import "./components/rating";
@import "./components/promo";
@import "./components/top";
@import "./components/useful";
@import "./components/contacts";
@import "./components/footer";
@import "./components/filter";
@import "./components/catalog";
@import "./components/card";
@import "./components/contacts-page";
@import "./components/cooperation-page";

.title-hidden {
  position: absolute;
  height: 0;
  overflow: hidden;
}
.section__title {
  @include p-reset;
  font-size: 32px;
  line-height: 100%;
  font-weight: normal;
  color: $color-text;
  &--special {
    grid-area: title;
    width: max-content;
  }
  &--rating {
    margin-bottom: 26px;
  }
  &--top {
    margin-bottom: 26px;
  }
  &--contacts {
    margin-bottom: 9px;
  }
  &--contacts-main {
    margin-bottom: 16px;
  }
  &--cooperation-main {
    margin-bottom: 32px;
  }
  @include lg-mobile {
    font-size: 24px;
    &--special {
      margin-bottom: 11px;
    }
  }
  @include mobile {
    &--special {
      width: 100%;
    }
  }
}
.card {
  &__list {
    @include list-reset;
    &--rating {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px;
      margin-bottom: 32px;
    }
    &--catalog {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 32px;
      margin-bottom: 32px;
    }
  }
  &__wrap {
    transition: opacity .3s ease-in-out;
    &--hide {
      display: none;
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 23.125%;
    min-height: 511px;
    border-radius: 10px;
    background: $grey-light;
    &--big {
      width: 48.75%;
    }
    &--rating {
      width: 100%;
      min-height: 420px;
    }
    &:not(:nth-child(3n)) {
      margin-right: 32px;
    }
    &--like {
      min-height: 420px;
      height: auto;
    }
    &--like:not(:nth-child(4n)) {
      margin-right: 32px;
    }
  }
  &__label {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 7px 0;
    width: 82px;
  }
  &__sale {
    background: $color-text-secondary;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: $white;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -27px;
      border: 17px solid transparent;
      border-left: 11px solid $color-text-secondary;
    }
  }
  &__rating {
    top: 24px;
    padding-left: 52px;
    font-size: 16px;
    color: $color-text-secondary;
    &::before {
      content: "";
      position: absolute;
      left: 30px;
      top: 27%;
      width: 15.79px;
      height: 15px;
      background: url("../img/sprite.svg#star") 100% no-repeat;
    }
  }
  &__pic {
    display: flex;
    align-items: flex-end;
    align-self: center;
    justify-content: center;
    margin-bottom: 16px;
    height: 245px;
    &--rating {
      height: 153px;
      width: 113%;
    }
    &--like {
      height: 153px;
    }
  }
  &__img {
    &--height {
      max-height: 125px;
      width: auto;
    }
  }
  &__title {
    @include p-reset;
    margin-bottom: 20px;
    max-width: 225px;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: $color-text;
    &--big {
      max-width: 236px;
      width: 112%;
    }
  }
  &__link {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: inherit;
    transition: color .3s ease-in-out;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      right: -10px;
      z-index: -1;
      background: transparent;
      transition: background .3s ease-in-out;
    }
  }
  &__price-sale {
    display: inline-block;
    margin-right: 27px;
    font-size: 18px;
    line-height: 130%;
    color: $color-text-secondary;
  }
  &__price {
    font-size: 16px;
    line-height: 130%;
    color: $grey-shade;
    &--old {
      text-decoration-line: line-through;
      color: $grey;
    }
    &--like {
      display: block;
      margin-bottom: 13px;
    }
  }
  @include larg {
    &__item {
      width: 31.125%;
      &--big {
        width: 31.125%;
      }
      &:not(:nth-child(3n)) {
        margin-right: 3.35%;
      }
      &--rating {
        width: 100%;
      }
    }
    &__pic--big {
      align-items: center;
      justify-content: center;
      padding-top: 45px;
      width: 107%;
    }
  }
  @include lg-tablet {
    &__list {
      &--rating {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        margin-bottom: 33px;
      }
    }
    &__pic {
      &--rating {
        max-width: 270px;
        height: 155px;
      }
    }
    &__title {
      margin-bottom: 22px;
    }
  }
  @include sm-tablet {
    &__list {
      &--rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        margin-bottom: 33px;
      }
      &--catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        margin-bottom: 32px;
      }
    }
    &__item {
      width: 47.4%;
      &--big {
        width: 47.4%;
      }
      &:not(:nth-child(3n)) {
        margin-right: 0;
      }
      &:not(:nth-child(2n)) {
        margin-right: 5.2%;
      }
      &--rating {
        width: 100%;
      }
    }
    &__title {
      &--big {
        margin-right: 0;
      }
    }
  }
  @include lg-mobile {
    &__item {
      width: 100%;
      &:not(:nth-child(2n)) {
        margin-right: 0;
      }
      &--rating {
        min-height: 370px;
      }
      &--like {
        padding: 16px;
        width: 47.4%;
        min-height: 278px;
        height: auto;
      }
      &--like:not(:nth-child(2n)) {
        margin-right: 5.2%;
      }
    }
    &__title {
      &--big {
        max-width: 236px;
        width: 100%;
      }
      &--rating {
        font-size: 16px;
      }
      &--like {
        margin-bottom: 18px;
        font-size: 16px;
        line-height: 130%;
      }
    }
    &__pic {
      &--rating {
        max-width: 270px;
        height: 22vw;
      }
      &--like {
        height: 145px;
      }
    }
    &__img {
      max-height: 100%;
      width: auto;
    }
  }
  @include mobile {
    &__list {
      &--rating {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        margin-bottom: 33px;
      }
      &--catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        margin-bottom: 32px;
      }
    }
    &__item {
      &--rating {
        padding: 16px;
        min-height: 278px;
      }
    }
    &__pic {
      &--rating {
        margin-bottom: 17px;
        width: 99%;
        height: max(22vw, 74px);
      }
      &--like {
        margin-bottom: 3px;
        height: 85px;
      }
    }
    &__title {
      &--rating {
        margin-bottom: 17px;
        width: 90%;
      }
    }
    &__rating {
      top: 11px;
      padding-left: 35px;
      font-size: 12px;
      &::before {
        top: 6px;
        left: 15px;
      }
    }
  }
}
.btn {
  @include btn-reset;
  align-self: flex-start;
  padding: 16px 35px;
  margin-top: auto;
  border-radius: 10px;
  border: 2px solid $color-text-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  color: $color-text-primary;
  transition: background .3s ease-in-out, color .3s ease-in-out;
  &--primary {
    padding: 20px 48px;
    border: 2px solid transparent;
    background: $color-text-primary;
    font-weight: bold;
    color: $white;
    transition: background .3s ease-in-out, border .3s ease-in-out;
    @include lg-mobile {
      width: 100%;
    }
  }
  &--rating {
    margin: 0 auto;
    padding: 19px 35px;
  }
  &--promo {
    padding: 20px 30px;
  }
  &--contacts {
    margin-bottom: 14px;
    padding: 17px 32px;
  }
  &--card-main {
    margin-bottom: 12px;
    padding: 19px 35px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }
  &--popup-buy {
    margin-bottom: 12px;
  }
  &--contacts-main {
    padding: 17px 35px;
    font-weight: 600;
  }
  &--hide {
    display: none!important;
  }
  @include lg-tablet {
    padding: 17px 33px;
    &--primary {
      padding: 20px 48px;
    }
    &--rating {
      padding: 19px 35px;
    }
    &--promo {
      padding: 20px 30px;
    }
    &--contacts {
      margin-bottom: 13px;
      padding: 17px 32px;
    }
    &--card-main {
      padding: 19px 35px;
    }
    &--contacts-main {
      padding: 17px 35px;
      font-weight: 600;
    }
  }
  @include sm-tablet {
    &--contacts {
      margin-bottom: 13px;
      padding: 16px 32px;
    }
    &--contacts-main {
      margin-bottom: 32px;
      padding: 17px 35px;
      width: auto;
      font-weight: 600;
    }
  }
  @include lg-mobile {
    &--contacts {
      margin-bottom: 11px;
      padding: 17px 32px;
      width: auto;
    }
    &--like {
      padding: 12px 25px;
    }
  }
  @include mobile {
    &--rating {
      padding: 19px 34px;
    }
    &--card-rating {
      padding: 10px 23px;
    }
  }
}
.swiper {
  width: 100%;
  &-btn {
    position: relative;
    grid-area: btn;
    display: flex;
    justify-content: space-between;
    justify-self: self-end;
    &--popup {
      display: none;
      top: 38%;
    }
  }
  &--special,
  &--useful {
    grid-area: slider;
  }
  &-btn__arrow {
    & .circle {
      fill: none;
      stroke-width: 2;
      stroke: $color-text-primary;
    }
    & .path {
      fill: none;
      stroke-width: 2;
      stroke: $color-text-primary;
    }
    & * {
      transition: all .3s ease-in-out;
    }
  }
  @include lg-tablet {
    &-btn {
      &--popup {
        display: flex;
      }
    }
  }
  @include lg-mobile {
    &-btn {
      right: -38px;
      justify-self: center;
      &--like {
        top: 16px;
        order: 1;
      }
    }
  }
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}
.swiper-button-prev .swiper-btn__arrow {
  transform: rotate(180deg);
}
.swiper-button-prev,
.swiper-button-next {
  right: auto;
  left: auto;
  top: 0;
  margin: 0;
  width: auto;
  height: auto;
}
.swiper-button-next {
  right: 0;
  &--popup {
    right: 16px;
    @include lg-mobile {
      right: 54px;
    }
  }
}
.swiper-button-prev {
  right: 0;
  margin-right: 45px;
  &--popup {
    left: 16px;
    right: auto;
    @include lg-mobile {
      left: -22px;
    }
  }
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.swiper-button-prev.swiper-button-disabled .circle,
.swiper-button-next.swiper-button-disabled .circle,
.swiper-button-prev.swiper-button-disabled .path,
.swiper-button-next.swiper-button-disabled .path {
  stroke: $grey;
}
.swiper-button-prev--like,
.swiper-button-next--like {
  top: -57px;
  @include lg-mobile {
    top: auto;
    right: 50%;
  }
}
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background: rgb(51 51 51 / .3);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
  &__wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 118px 75px 122px;
    width: 624px;
    max-height: 100%;
    height: auto;
    border-radius: 10px;
    background: $white;
    transform: scale(0) translate(-50%, -50%);
    transform-origin: 0 0;
    transition: transform .3s ease-in-out;
  }
  &__icon {
    margin-bottom: 32px;
  }
  &__text {
    @include p-reset;
    text-align: center;
    font-size: 32px;
    line-height: 100%;
    color: $color-text;
  }
  &__close {
    @include btn-reset;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      bottom: 0;
      left: -2px;
      right: -2px;
      z-index: -1;
      background: transparent;
      transition: background .3s ease-in-out;
    }
  }
  &__close-icon {
    fill: $grey;
    transition: fill .3s ease-in-out;
  }
  @include lg-mobile {
    &__wrap {
      padding: 60px 51px;
      width: calc(100vw - 24px);
    }
    &__icon {
      width: 73px;
      height: 50px;
    }
    &__text {
      font-size: 16px;
    }
    &__close {
      top: 16px;
      right: 16px;
    }
    &__close-icon {
      width: 12px;
      height: 12px;
    }
  }
}
.popup.is-active {
  opacity: 1;
  visibility: visible;
}
.popup.is-active .popup__wrap{
  transform: scale(1) translate(-50%, -50%);
}
.card-page .popup__wrap {
  top: 184px;
  transform: scale(0) translateX(-50%);
}
.popup.is-active .popup__wrap {
  transform: scale(1) translateX(-50%);
}
.breadcrumbs {
  &__list {
    @include list-reset;
    display: flex;
  }
  &__item {
    position: relative;
    font-size: 14px;
    line-height: 100%;
    color: $grey;
  }
  &__item:not(:first-child) {
    padding-left: 8px;
    &::before {
      content: "/";
      position: absolute;
      left: 0;
    }
  }
  &__item:not(:last-child) {
    margin-right: 6px;
  }
  &__link {
    font-size: inherit;
    color: inherit;
    &.is-active {
      color: $primary-shade;
    }
  }
}
@include hover-ef {
  .btn:hover {
    background: $color-text-primary;
    color: $white;
  }
  .btn--primary:hover {
    background: $primary-light;
  }
  .card__link:hover {
    color: $color-text-primary;
  }
  .swiper-button-prev:hover .circle,
  .swiper-button-next:hover .circle {
    fill: $color-text-primary;
  }
  .swiper-button-prev:hover .path,
  .swiper-button-next:hover .path {
    stroke: $white;
  }
  .popup__close:hover .popup__close-icon {
    fill: $color-text-primary;
  }
}
.btn:focus {
  background: $primary-light;
  color: $white;
  outline: none;
}
.btn--primary:focus {
  border: 2px solid $primary-shade;
  outline: none;
}
.btn:active {
  background: $primary-shade;
  color: $white;
}
.btn.is-disabled {
  color: $grey;
  background: $md-grey;
}

.card__link:focus {
  outline: none;
}
.card__link:focus::after {
  background: $pink-violet;
}
.card__link:active {
  color: $primary-shade;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}
.swiper-button-prev:focus .circle,
.swiper-button-next:focus .circle {
  fill: $primary-light;
  stroke: $color-text-primary;
}
.swiper-button-prev:focus .path,
.swiper-button-next:focus .path {
  stroke: $white;
}
.swiper-button-prev:active .circle,
.swiper-button-next:active .circle {
  fill: $primary-shade;
  stroke: $primary-shade;
}
.swiper-button-prev:active .path,
.swiper-button-next:active .path {
  stroke: $white;
}
.popup__close:focus {
  outline: none;
}
.popup__close:focus .popup__close-icon {
  fill: $primary-shade;
}
.popup__close:focus::after {
  background: $pink-violet;
}
.popup__close:active .popup__close-icon {
  fill: $primary-shade;
}
